.hero-section-left>p{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.hero-section-left>p>span{
    color: rgba(101, 182, 80, 1);
}

.hero-section-left>h3{
    font-size: 40px;
    
    font-weight: bold;
    padding-top: 30px;
}


.hero-section-left>h6{
    color: rgba(0, 0, 0, 0.67);
    padding-top: 10px;
    font-size: 13px;
}


.hero-section-left>button{
    background-color:rgba(36, 42, 38, 1);
    
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 120px;
    height: 46px;
    font-size: 15px;
    color: white;
    font-weight: bolder;
}


.hero-section-right>img{
    height: 582px;
    width: 740px;
}

.main-section-text>h3{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

.main-section-text>h6{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: rgba(135, 209, 24, 1);
}

.join{
    width: 93px;
    height: 36px;
    background-color: rgba(135, 209, 24, 1);
    color: white;
    border-radius: 15px;
    margin-top: 20px;
}

.banner-text>input{
    padding-left: 10px;
    margin-top: 20px;
    width:333px ;
    height: 36px;
}

.foot-2>h4{
    padding-left: 30px;
    color: tomato;
}


.foot-1>h4{
    padding-left: 30px;
    color: tomato;
}


.foot-3>h4{
    padding-left: 30px;
    color: tomato;
}


.foot-1{
    background-image: url('images/food-main1.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
   
    }
    .foot-2{
        background-image: url('images/food-main1.png');
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
       
        }

        .foot-3{
            background-image: url('images/food-main1.png');
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
           
            }
    






.overlay{
    position: absolute;
    top: 50px;
    left: 60px;
    width: 70%;
    height: 70%;
    background: rgba(135, 209, 24, 0.35);
    border-radius: 15px;
}

.overlay:hover{
    background: rgba(135, 209, 24, 0.75);
    transform:scale(1.2) ;
    transform: rotate(45deg);
    transition: ease-in 0.3s;
}




@media  (min-width: 320px) and (max-width: 800px) {


    body{
    
    }
    body .container{
        display: none;
     } 

     body{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         min-width: 100%;
         min-height: 100%;
         
       
         
     }
     .container-2{
        display: grid;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: white; 
        
       grid-row: 1/4;
       grid-column: 1/4;
        row-gap: 10px;
        height: auto ;
        width: auto;
        column-gap: 10px;

       
     }

     .position-1{
       width: auto;
       height: 150px;

         grid-row: 1;
         grid-column: 1;
        
     }


     .position-2{
        width: auto;
        height: 150px;
        grid-row: 1;
        grid-column: 2;
        
    }


    .position-3{
        width: auto;
        height: 150px;
        grid-row: 2;
        grid-column: 1;
       
    }

    .position-4{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        width: auto;
        height: 150px;
        grid-row: 2;
        grid-column: 2;
        background-color:rgba(247, 252, 248, 0.44);
    }



    .position-4-1{
        grid-row: 1;
        margin-left: 10px;
        
    }

    .position-4-1>h3{
        padding-left: 15px;
    }

    
    .position-4-2{
        grid-row: 2;
        margin-left: 10px;
        
    }

    .position-4-2>img{
        padding-left: 15px;
    }


    
    .position-4-3{
        grid-row: 3;
        
    }


    .position-5{
        width: auto;
        height: 150px;
        grid-row: 3;
        grid-column: 1/3;
        background-color:whitesmoke;
    }



    

    .position-7{
        width: auto;
        height: 150px;
        grid-row: 4;
        grid-column: 1;
        
    }

.position-8{
        width: auto;
        height: 150px;
        grid-row: 4;
        grid-column: 2;
        
    }


    .position-1{
    background-image: url('images/Ellipse.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    

.position-1>h3, p{
    padding-left: 10px;
    padding-top: 10px;
    overflow-x: auto;
} 


/* .position-2{
    background-image: url('images/chef.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    } */

 }
      .position-2>img{
          height: 170px;
          width: auto;
          padding-bottom: 20px;
          margin-left: 20px;

      }


      .position-3{
        background-image: url('images/food-mobile.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-bottom: 10px;
      }


      .position-5{
          margin: 0 10px;
          margin-top: 25px;
          background-image: url('images/mobile-banner.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }


      .position-5>input{
          width: 200px;
          height: 40px;
          margin-left: 20px;
          border-radius: 5px;
          padding-left: 10px;
      }

      
      .position-5>button{
        width: 50px;
        height: 40px;
        margin-left: 3px;
        text-align: center;
        border-radius: 5px;
        background-color: rgba(135, 209, 24, 1);
        color: white;
        
    }

.position-7{
    margin-right: 10px;
    margin-left: 10px;
    background-image: url('images/mobile-foot1.png');
    background-position: center;
    background-repeat: no-repeat;
}


.overlay1{
    /* position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: auto;
    height: auto; */

    
    width: 100%;
    height: 100%;
    background: rgba(135, 209, 24, 0.35);
    border-radius: 15px;
}



.position-8{
    position: relative;
    background-image: url('images/mobile-foot-2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.position-5>p{
    color: white;
    padding-left: 100px;
    padding-bottom: 10px;
}
       }